header{
    text-align: center;
    background-color: darkgray;
    padding: 20px 20px;
}
.info textarea{
    background-color: rgb(248, 209, 196);
    margin-top: 50px ;
    padding: 40px;
    width: 55%;
    transition: 2s;
}
.info textarea:hover{
    background-color: wheat;
}
